@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-image: url('/myweb/StudentGrant/IMG/kelly-sikkema_unsplash.jpg');
    /*Image used is credited to https://unsplash.com/photos/Nlax2tu89bU*/
    background-size: cover;
}

/* **************** NAVBAR (Same for all webpages)  **************** */
header .index {
    width: 100%;
    font-size: 20px;
    color: #F9F1F0;
    text-decoration: none;
    transition: color 0.3s ease;
}
header .index:hover {
    color: #F2CBF2;
}

header {
    width: 85%;
    height: 5em;
    background: #1e1f26;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
}
.title1 {
    width: 220px;
    margin-top: 8px;
}
nav .title1 {
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    color: #F9F1F0;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 6px 18px;
    transition: 0.3s;
    border-radius: 30px;
    text-decoration: none;
}
nav ul li a:hover {
    color: #525655;
    background: #F9F1F0;
}

nav ul li a.active {
    color: #525655;
    background-color: #EED6D3;
}
nav ul li a.active:hover {
    background-color: #F9F1F0;
}

.bars {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 30px;
    transition: 0.2s;
}
.bars:hover {
    background: rgba(249, 241, 240, 0.05);
}
.bars .line {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #EED6D3;
}
@media only screen and (max-width: 850px) {
    header {
        width: 90%;
        padding: 0 20px;
    }
    nav {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background: #525655;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(249, 241, 240, 0.05);
    }
    #nav_check:checked ~ nav {
        left: 0;
    }
    nav .title1 {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px
    }
    nav ul li a {
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }
    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    .bars {
        display: block;
    }
}

/* **************** CSS FOR LOGIN WEBPAGE   **************** */

/* Login Wrapper */
.overlay .wrapper {
    position: relative;
    width: 25em;
    height: 27.5em;
    background: transparent;
    border: 2px solid #F9F1F0;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: height 0.2s ease;
}

.overlay .wrapper .active {
    height: 520px;
}

.overlay .wrapper .login-box {
    width: 100%;
    padding: 40px;
}

.login-box h2 {
    font-size: 2em;
    color: #1e1f26;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #1e1f26;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #1e1f26;
    font-weight: 500;
    pointer-events: none;
    transition: top 0.5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #1e1f26;
    font-weight: 600;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #1e1f26;
    line-height: 57px;
}

.login-btn {
    width: 100%;
    height: 45px;
    background: #1e1f26;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #F2CBF2;
    font-weight: 500;
}

.overlay .wrapper .close-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #1e1f26;
    font-size: 2em;
    color: #F2CBF2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

/* Overlay */
.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;
    transition: 0.5s;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.overlay .wrapper {
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.overlay:target .wrapper {
    animation: zoom-n-fade 1s forwards;
}

/* Zoom-in Animation */
@keyframes zoom-n-fade {
    0% {transform: scale(0); opacity: 0;}

    100% {transform: scale(1); opacity: 1;}
}

/* Incorrect Login */
main .wrapper .login-box .error-msg{
    margin: 10px 0;
    background: crimson;
    color:#fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    display: block;
    text-align: center;
}