@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-image: url('/myweb/StudentGrant/IMG/kelly-sikkema_unsplash.jpg');
    /*Image used is credited to https://unsplash.com/photos/Nlax2tu89bU*/
    background-size: cover;
}

/* **************** NAVBAR (Same for all webpages)  **************** */
header .index {
    width: 100%;
    font-size: 20px;
    color: #F9F1F0;
    text-decoration: none;
    transition: color 0.3s ease;
}
header .index:hover {
    color: #F2CBF2;
}

header {
    width: 85%;
    height: 5em;
    background: #1e1f26;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
}
.title1 {
    width: 220px;
    margin-top: 8px;
}
nav .title1 {
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    color: #F9F1F0;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 6px 18px;
    transition: 0.3s;
    border-radius: 30px;
    text-decoration: none;
}
nav ul li a:hover {
    color: #525655;
    background: #F9F1F0;
}

nav ul li a.active {
    color: #525655;
    background-color: #EED6D3;
}
nav ul li a.active:hover {
    background-color: #F9F1F0;
}

.bars {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 30px;
    transition: 0.2s;
}
.bars:hover {
    background: rgba(249, 241, 240, 0.05);
}
.bars .line {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #EED6D3;
}
@media only screen and (max-width: 850px) {
    header {
        width: 90%;
        padding: 0 20px;
    }
    nav {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background: #525655;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(249, 241, 240, 0.05);
    }
    #nav_check:checked ~ nav {
        left: 0;
    }
    nav .title1 {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px
    }
    nav ul li a {
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }
    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    .bars {
        display: block;
    }
}

/* **************** CSS FOR REGISTRATION FORM WEBPAGE   **************** */

.form {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #525655, #80817c);
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100vh;
    background: #fff;
    margin-top: 50px;
    padding: 10px 65px;
    border-radius: 5px;
}
.container .title2 {
    font-size: 20px;
    font-weight: 500px;
    position: relative;
}

/* Aesthetic line at the bottom of heading1 title */
.container .title2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 40px;
    background: linear-gradient(155deg, #80817c, #1e1f26);
}

/* FORM */
.container form .application-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0 10px 0;
}

form .application-details .text-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 40px);
}

form .application-details .nontext-box {
    margin: 15px 0 10px 0;
    width: calc(100% / 2 - 40px);
}

.application-details label {
    display: block;
    font-weight: 500px;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: bold;

}

/* TEXT INPUT */
.application-details .text-box input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

/* After-click effect on the textbox border */
.application-details .text-box input:hover,
.application-details .text-box input:focus,
.application-details .text-box input:valid {
    border-color: #1e1f26;
}

/* NONTEXT INPUT */
.application-details .nontext-box input {
    height: 40px;
    width: 100%;
    outline: none;
    padding-left: 15px;
}

/* DROPDWON LIST */
.application-details .nontext-box .select {
    position: relative;
    display: flex;
    width: 288px;
    height: 32px;
    line-height: 2;
    background: #1e1f26;
    overflow: hidden;
    border-radius: 5px;
}

.application-details .nontext-box .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 16px;
    background: #7d8182;
    cursor: pointer;
    pointer-events: none;
    transition: all 0.5s ease;
}

.application-details .nontext-box .select:hover::after {
    color: #F2CBF2;
}

.application-details .nontext-box .select select {

    flex: 1;
    padding: 0 16px;
    color: #525655;
    font-size: 13.6px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border: none;
    background: #b1b2ad;
}

/* SUBMIT BUTTON */
form .submit-button {
    display: flex;
    justify-content: center;
    height: 50px;
    margin: 75px 0 25px 0;
}

form .submit-button input {
    height: 100%;
    width: 70%;
    outline: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #525655, #80817c);
    border: 2px solid rgba(#ccc, 0.6);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

form .submit-button input:hover,
form .submit-button input:focus,
form .submit-button input:active{
    color: #1e1f26;
    font-weight: bold;
    background: linear-gradient(-135deg, #ccc, #525655);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    border-color: transparent;
}

/* WEB RESPONSIVE */
@media (max-width: 580px) {
    .container {
        max-width: 100%;
    }
    form .application-details .text-box {
        margin-bottom: 15px;
        width: 100%;
    }
    form .application-details .nontext-box {
        margin: 15px 0 10px 0;
        width: 100%;
    }

    .application-details .nontext-box .select {
        width: 100%;
    }
    .container form .application-details {
        max-height: 300px;
        overflow-y: scroll;
    }
    .application-details::-webkit-scrollbar {
        width: 0;
    }
}